@import "pageFadeIn";

@mixin hori-center {
	position: absolute;
	// top: 50%;
	left: 50%;
	transform: translate(-50%);
	-ms-transform: translate(-50%);
	-webkit-transform: translate(-50%);
}

@mixin all-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

@mixin centerbox {
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

html {
	// overflow-x: hidden;
	font-size: 62.5%;
	box-sizing: border-box;
	height: 100%;

	background: whitesmoke;
	font-family: "sourcehansans-tc-extralight", sans-serif;
}

body {
	// overflow-x: hidden;
	height: 100%;
	background: rgb(250,250,250);
	font-family: "sourcehansans-tc-extralight", sans-serif;
}

h1 {
	font-size: 4.8rem;
	text-transform: uppercase;
	line-height: 6.8rem;
	letter-spacing: 1.5rem;
	font-family: "sourcehansans-tc-extralight", sans-serif;
	font-weight: 250;
}

h2 {
	font-size: 2.8rem;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 5rem;
	font-family: "sourcehansans-tc-extralight", sans-serif;
	font-weight: 250;
}

h3 {
	font-size: 2.4rem;
	text-transform: capitalize;
	line-height: 3.5rem;
	font-family: "sourcehansans-tc-extralight", sans-serif;
	font-weight: 250;
}

p {
	font-size: 1.8rem;
	line-height: 2.5rem;
	font-family: "sourcehansans-tc-extralight", sans-serif;
	font-weight: 800;
	letter-spacing: 0.5rem;
}

a {
	font-family: "sourcehansans-tc-extralight", sans-serif;
}


.page-wrap {
	height: 100%;
	// margin-top: 70px;
	padding-bottom: 1%;
	background: whitesmoke;
	// opacity: 0;
	// -webkit-overflow-scrolling: touch;


	#banner {
		box-sizing: border-box;
		position: fixed;
		top: 0;
		left: 0;
		height: 50px;
		width: 100%;
		z-index: 999;
		background: rgba(200,30,30,0.9);
		text-align: center;
		// background: rgba(230,230,230,0.5);

		// background: url(resource/interior6.jpg) no-repeat;
		// background-size: cover;

		// border-bottom-left-radius: 5px;
		// border-bottom-right-radius: 5px;

			input {
				position: absolute;
				top: -9999px;
			} // end of input

			input:checked ~ #nav {
						pointer-events: auto;
						opacity: 1;
						height: 50px;

						@media all and (max-width: 360px) {
							height: 400px;
						} // end of media
			} // input:checked ~ #nav

			#menuIcon {
				box-sizing: border-box;
				// display: inline-block;
				margin: 5px 10px 5px 10px;
				height: 40px;
				width: 40px;
				text-align: center;
				margin-left: auto;
				margin-right: auto;

				@include centerbox;

				background: -webkit-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
				background: -moz-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
				background: -o-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
				background: linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);

				box-shadow: 0 1px 1px rgb(70,70,70);

				border-radius: 15px;

				cursor: pointer;

					@media all and (min-width: 641px) {
						width: 100px;
					}

					i {
						display: inline;
						font-size: 3rem;
						// color: rgba(0,0,0,0.5);
						color: rgba(255,255,255,0.9);
						text-shadow: -1px 1px 3px rgb(100,100,100);
					} // end of i

					p {
						color: rgba(255,255,255,0.9);
						font-size: 2.5rem;
						font-weight: 800;

						@media all and (max-width: 700px) {
							display: none;
						}
					}
			} // end of menuIcon

			#menuIcon:hover {
				background: -webkit-linear-gradient(rgb(180,30,30), rgb(255,55,55) 90%);
				background: -moz-linear-gradient(rgb(180,30,30), rgb(255,55,55) 90%);
				background: -o-linear-gradient(rgb(180,30,30), rgb(255,55,55) 90%);
				background: linear-gradient(rgb(180,30,30), rgb(255,55,55) 90%);

				box-shadow: 0 -1px 1px rgb(100,100,100);

				i {
					text-shadow: 0 0 3px rgb(255,255,255), 0 0 7px rgb(255,255,255);
				}
			}

			input:checked label {
				background: -webkit-linear-gradient(rgb(160,20,20), rgb(230,50,50));
				background: -moz-linear-gradient(rgb(160,20,20), rgb(230,50,50));
				background: -o-linear-gradient(rgb(160,20,20), rgb(230,50,50));
				background: linear-gradient(rgb(160,20,20), rgb(230,50,50));
			} // end of input:checked label

			#siteTitle {
				box-sizing: border-box;
				line-height: 4rem;
				padding: 5px;
				white-space: nowrap;

					p {
						font-size: 2.7rem;
						letter-spacing: 0.3rem;
						font-weight: 800;
						text-align: center;
						margin-right: 50px;
						// color: rgb(245,245,245);
						color: rgb(255,255,255);
						// text-shadow: 0 0 5px rgb(255,255,255);
					}
			} // end of siteTitle

			#nav {
				box-sizing: border-box;
				opacity: 0;
				pointer-events: none;
				position: fixed;
				top: 50px;
				// left: 60px;
				left: 0;
				width: 100%;
				height: 0;
				background: rgba(200,30,30,0.9);
				
				overflow-y: hidden;

				transition: opacity 800ms ease, width 800ms ease;
				-webkit-transition: opacity 800ms ease, width 800ms ease;

					ul {
						padding: 0;
						box-sizing: border-box;
						line-height: 4rem;
						padding: 5px;
						white-space: nowrap;

						margin-left: auto;
						margin-right: auto;

						@media all and (max-width: 360px) {
							white-space: pre-line;
						} // end of media

							a {
								color: whitesmoke;
								text-shadow: -1px 1px 3px rgb(180,180,180);

								box-sizing: border-box;

							} // end of a

							li {
								display: inline-block;
								font-size: 2.2rem;
								font-weight: 800;
								letter-spacing: 0.2rem;
								word-spacing: 0.2rem;


								height: 40px;
								padding: 0 5px 0 5px;

								border-radius: 10px;
								box-shadow: 0 1px 1px rgb(70,70,70);

								background: -webkit-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
								background:    -moz-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
								background:      -o-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
								background: 		linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);

								@media all and (max-width: 360px) {
									display: block;
									width: 100%;
									white-space: pre-line;
									border-radius: 0;
								} // end of media
							} // end of li

							#li-2, #li-3 {
								margin-left: 5px;
							} // end of li-2, li-3

							#li-0 {
								margin-right: 5px;
							} // end of li-0

					} // end of ul

			} // end of nav

	} // end of banner


	#wrap0 {
		box-sizing: border-box;
		// @include centerbox;
		height: 100%;
		width: 100%;

		background: url(resource/bkgd1.jpg) no-repeat;
		background-size: cover;
		background-attachment: fixed;
			@media all and (max-width: 700px) {background-attachment: scroll;}
		background-position: 50% 50%;

			#title-wrap {
				display: inline-block;
				@include all-center;
				width: 700px;

				@media all and (max-width: 700px) {
					width: 300px;
				}

				h1 {
					box-sizing: border-box;
					font-weight: 300;
					text-align: center;
					
					color: rgba(255,255,255,0.9);
					// text-shadow: 0 0 3px rgb(255,255,255), 0 0 6px rgb(255,255,255), 0 0 10px rgb(255,255,255);

					span {

						@media all and (max-width: 700px) {
							display: block;

						} // end of media

					} // end of span 
				} // end of h1
			} // end of title-wrap
	} // end of wrap0

	#wrap1 {
		box-sizing: border-box;
		position: relative;
		display: block;
		background: brown;
		height: 450px;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		// padding-bottom: 50px;
		// padding-top: 50px;
		@media all and (max-width: 700px) {
					height: auto;
				} // end of media

			.wrap1-inline {
				box-sizing: border-box;
				// float: left;
				display: inline-block;
				vertical-align: middle;
				// text-align: center;

				@media all and (max-width: 700px) {
					display: block;
					width: 100%;
				} // end of media
			} // end of .wrap1-inline

			#wrap1-inner-img {
				height: 450px;
				width: 35%;
				// min-width: 650px;
				background: url(resource/buburchacha.jpg) no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				@media all and (max-width: 700px) {
					display: block;
					width: 100%;
				} // end of media
			} // end of wrap1-inner-img

			#wrap1-inner-info {
				width: 30%;
				height: 100%;
				color: rgb(230,230,230);
				text-align: center;
				white-space: pre-line;
				padding: 10px;
				overflow: auto;

				@media all and (max-width: 700px) {
					display: block;
					width: 100%;
				} // end of media

				#info-wrap {
					display: block;
					margin: auto;

					@media all and (min-width: 900px) {
						padding-left: 25px;
						padding-right: 25px;
					} // end of media

					a {
						box-sizing: border-box;
						text-decoration: none;
						color: brown;
						
						// padding: 3px;

						span {
							box-sizing: border-box;
							font-size: 2rem;
							letter-spacing: 0.3rem;
							background: whitesmoke;
							background: linear-gradient(rgb(255,255,225), rgb(200,200,200));
							border-radius: 15px;
							padding: 5px 20px 5px 20px;
						} // end of span
					} // end of a

					a:hover {
						color: rgb(50,50,50);

						span {
							background: linear-gradient(rgb(200,200,200), rgb(255,255,255));
						} // end of span
					} // end of a:hover

				} // end of info-wrap
			} // end of wrap1-inner-info

			#wrap1-inner-img2 {
				height: 450px;
				width: 35%;
				// min-width: 650px;
				background: url(resource/single/乾煎黃魚.jpg) no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				@media all and (max-width: 700px) {
					display: block;
					width: 100%;
				} // end of media
			} // end of wrap1-inner-img2

	} // end of wrap1

	#wrap2 {
		box-sizing: border-box;
		position: relative;
		display: block;
		// background: white;
		// min-height: 50%;
		height: auto;
		width: 100%;
		min-height: 350px;
		padding-bottom: 50px;
		padding-top: 50px;
		background: url(resource/interior5.jpg) no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		background-attachment: fixed;
		text-align: center;
			@media all and (max-width: 700px) {
				background-attachment: scroll;
				padding: 0;
			} // end of media

			.wrap2-inner-class {
				box-sizing: border-box;
				display: inline-block;
				// width: 50%;
				margin: 25px 0 25px 0;
				vertical-align: middle;

				@media all and (max-width: 700px) {
					margin: 0;
					display: block;
					width: 100%;
				}

			} // end of wrap2-inner-wrap

			#wrap2-info-wrap {
				// display: inline-block;
				position: relative;
				height: 400px;
				min-width: 300px;
				width: 30%;
				padding: 10px 35px 10px 35px;
				color: rgb(80,80,80);

				text-align: center;
				vertical-align: middle;

				background: rgba(255,255,255,0.7);

				@media all and (max-width: 700px) {
					background: rgba(255,255,255,0.9);
					width: 100%;
				}

				#wrap2-info {
					position: absolute;
					top: 50%;
					left: 50%;
					@include all-center;

					// height: 100%;
					width: 100%;


					a {
						text-decoration: none;
						color: rgb(250,80,80);
					} // end of a

					i {
						color: red;
					} // end of i

					a:hover {
						color: rgb(250,220,130);
					}

					img {
						width: 30px;
						height: 30px;

						-webkit-transition: all 300ms;
						-moz-transition: all 300ms;
						-o-transition: all 300ms;
						transition: all 100ms;
					} // end of img facebook

					img:hover {
						width: 40px;
						height: 40px;
					} // end of img:hover

					#fb-caption {
						text-shadow: -1px 1px 2px rgb(100,100,100);
					} // end of fb-caption

					#map-description {
						font-style: italic;
					} // end of map-description
				} // end of wrap2-info

			} // end of wrap2-info-wrap

			#wrap2-map {
				box-sizing: border-box;
				// position: relative;
				height: 400px;
				width: 50%;
				// width: 100%;
				// max-height: 500px;
				min-width: 300px;
				max-width: 600px;
				margin-left: auto;
				margin-right: auto;

				@media all and (max-width: 700px) {
					display: block;
					width: 100%;
					max-width: 100%;
				} // end of media

				#map-canvas {
					// position: absolute;
					// @include centerbox;
					box-sizing: border-box;
					height: 100%;
					width: 100%;

						#mapFallback {
							color: rgba(255,255,255,0.9);
							text-decoration: none;
							text-shadow: 0 0 3px rgb(55,55,55), 0 0 4px rgb(55,55,55), 0 0 7px rgb(55,55,55);
						
							box-sizing: border-box;
							height: 100%;
							width: 100%;

							@include centerbox;
							vertical-align: middle;
							margin-left: auto;
							margin-right: auto;
							width: 100%;
							height: 100%;
							// z-index: 10;

							background: url(resource/mapfallback.jpg) no-repeat;
							background-size: cover;

								#mapFallbackText {
									box-sizing: border-box;
									display: inline-block;
									width: 100%;
									text-align: center;

									border: solid 5px rgba(40,40,40,0.5);
									border-radius: 15px;
									padding: 10px;
									background: rgba(50,50,50,0.5);
								} // end of mapFallbackText

						} // end of a/mapFallback

				} // end of map-canvas

			} // end of wrap2-map
	} // end of wrap2

	

	#wrap3 {
		box-sizing: border-box;
		position: relative;
		
		width: 100%;
		height: auto;
		// padding-bottom: 1%;
		// background: blue;
		
		#wrap3-inner {
			box-sizing: border-box;
			padding: 25px;
			height: 100%;
			width: 100%;
			text-align: center;
			background: black;
		
			// video {
			// 	box-sizing: border-box;
			// 	width: 90%;
			// 	height: auto;
			// 	margin: 25px auto 25px auto;
			// } // end of video
			#video-wrap {
				display: inline-block;
				width: 48vw;
				height: 30vw;
				// padding-bottom: 57.25%;

				@media all and (max-width: 700px) {
					width: 80vw;
					height: 50vw;
				}

				iframe {
					box-sizing: border-box;
					width: 100%;
					height: 100%;

				} // end of iframe
			} // end of video-wrap

			#appledaily-link {
				box-sizing: border-box;
				display: block;
				margin-top: 10px;

				a {
					display: inline-block;
					font-size: 1.8rem;
					text-decoration: none;
					color: whitesmoke;
					text-align: center;

					span {
						color: rgb(255,100,100);
					}
				} // end of a
			} // end of appledaily-link

		} // end of wrap3-inner

	} // end of wrap3
	

	#footer {
		box-sizing: border-box;
		display: inline-block;
		text-align: center;

		height: 50px;
		width: 100%;

		background: rgb(200,30,30);
		
		#foot-wrap {
			width: 150px;
			height: 50px;
			margin-left: auto;
			margin-right: auto;

			img {
				box-sizing: border-box;
				float: left;
				height: 40px;
				width: 40px;
				margin: 5px;

			} // end of img


			.fb-like {
				box-sizing: border-box;
				position: relative;
				float: left;
				// vertical-align: middle;
				width: 87px;
				height: 50px;

				iframe {
					padding-top: 15px;
					padding-bottom: 15px;
				} // end of iframe

			} // end of fb-like
		} // end of foot-wrap
	} // end of footer


#menu-wrap {
	box-sizing: border-box;
	position: relative;
				
	width: 100%;
	height: auto;
	// margin-right: auto;
	// margin-left: auto;
	margin-top: 50px;
	padding-bottom: 100px;
	background: url(resource/menu-bkgd.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;

		@media all and (max-width: 700px) {
			background-attachment: scroll;
		} // end of media
	// background: whitesmoke;

	// overflow: auto;
	
	
		#menu {
			box-sizing: border-box;
			// position: absolute;
			// top: 0;
			// left: 50%;
			// @include hori-center;

			// padding-left: auto;
			// padding-right: auto;
			// width: 100%;
			// // height: auto;
			margin: 0 auto;
			padding-top: 20px;
			text-align: center;
			// background: grey;

			@media all and (min-width: 320px) {
				width: 320px;
			}

			@media all and (min-width: 700px) {
				width: 700px;
			}

			@media all and (min-width: 960px) {
				width: 960px;
			}

			@media all and (min-width: 1280px) {
				width: 1280px;
			}

			@media all and (min-width: 1600px) {
				width: 1600px;
			}

			@media all and (min-width: 1920px) {
				width: 1920px;
			}
				
			@media all and (min-width: 2240px) {
				width: 2240px;
			}

			@media all and (min-width: 2560px) {
				width: 2560px;
			}

		
				.table-wrap {
					display: inline-block;
					// background: purple;

					table {
						box-sizing: border-box;
						float: left;
						border-collapse: separate;

						// min-width: 300px;
						// max-width: 350px;
						height: 380px;
						width: 280px;

						margin: 10px 20px 10px 20px;
						// background: yellow;

						font-size: 1.8rem;
						font-family: "sourcehansans-tc-extralight", sans-serif;
						font-weight: 600;
						color: rgb(150,100,100);

						// border: solid 1px rgb(180,180,180);
						// border-radius: 50%;

							a {
								color: rgb(150,100,100);
								text-decoration: none;

								i {
									color: rgb(225,30,30);
								} // end of i
							} // end of a

							td, th {
								vertical-align: middle;
							}

							caption {
								width: 100%;
								// background: green;
							} // end of caption

							tr {
								width: 100%;
							} // end of tr

							tr:hover {
								background: rgba(255,235,190,0.3);
								// box-shadow: -1px 1px 3px rgb(180,150,150);
								// border-left: solid 1px rgb(180,150,150);
								// border-bottom: solid 1px rgb(150,120,120);

								td, a {
									color: rgb(255,80,80);

									i {
										color: rgb(255,130,130);
										text-shadow: 0 0 3px rgb(255,255,255), 0 0 5px rgb(255,255,255);
									}
								} // end of td, a
							} // end of tr:hover

								.menu-category:hover {
									background:transparent;
								} // end of .menu-category:hover

								#combo-1-tr:hover {
									background:transparent;

									span {
										color: rgb(150,100,100);
									} // end of span
								} // end of combo-1-tr:hover

							td {
								padding: 5px;
								// color: rgb()

							} // end of td

							td:nth-child(1) {
								width: 75%;
								text-align: left;
							} // end of td-child 1

							td:nth-child(2) {
								width: 25%;
								text-align: right;
								// background: red;
							} // end of td-child 2

							th {
								// border-bottom: solid 1px rgb(180,180,180);

								height: 35px;
								padding: 5px;
								font-size: 2.5rem;
								
								// background: linear-gradient(rgb(255,180,160), rgb(255,140,130) 90%);
								background: transparent;
								border: solid 2px rgb(150,120,100);
								border-radius: 25px;

								color: rgb(120,50,50);
							} // end of th
						
					} // end of table

					// table:hover {
					// 	box-shadow: -1px 1px 3px rgb(180,150,150);
					// } // end of table:hover

					#combo {

							#combo-1 {
								font-size: 1.8rem;
								width: 100%;
								text-align: center;
								font-style: italic;
								font-weight: 300;
								// background: red;
								
							} // end of span
					} // end of combo

					#lunch {
						// height: 60px;
					} // end of lunch

					#pork {
						// height: 60px;
					} // end of pork
				} // end of table-wrap
		} // end of menu

		.lb {
			display: block;
			opacity: 0;
			position: fixed;
			z-index: -2;
			left: 0;
			top: 0;

			width: 100%;
			height: 100%;
			// text-align: center;
			text-decoration: none;
			background-color: rgba(0,0,0,0.7);
			-webkit-transition: all 1s;
			-moz-transition: all 1s;
			-o-transition: all 1s;
			transition: all 1s;

			img {
				position: absolute;
				height: 70%;
				// width: auto;
				// max-width: 90%;

				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);

				@media all and (max-width: 700px) {
					width: 80%;
					height: auto;
				} // end of media
			} // end of img

		} // end of lb

		.lb:target {
			// display: block;
			z-index: 10;
			opacity: 1;
			outline: none;
		} // end of lb:target

} // end of menu-wrap

} // end of page-wrap



