@import "pageFadeIn";

@mixin hori-center {
	position: absolute;
	// top: 50%;
	left: 50%;
	transform: translate(-50%);
	-ms-transform: translate(-50%);
	-webkit-transform: translate(-50%);
}

@mixin all-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

@mixin centerbox {
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	height: 100%;

	background: whitesmoke;
}

body {
	height: 100%;
	background: rgb(250,250,250);
}

h1 {
	font-size: 4.8rem;
	text-transform: uppercase;
	line-height: 6.8rem;
	letter-spacing: 1.5rem;
	font-family: "sourcehansans-tc-extralight", sans-serif;
	font-weight: 250;
}

h2 {
	font-size: 2.8rem;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 5rem;
	font-family: "sourcehansans-tc-extralight", sans-serif;
	font-weight: 250;
}

h3 {
	font-size: 2.4rem;
	text-transform: capitalize;
	line-height: 3.5rem;
	font-family: "sourcehansans-tc-extralight", sans-serif;
	font-weight: 250;
}

p {
	font-size: 1.8rem;
	line-height: 2.5rem;
	font-family: "sourcehansans-tc-extralight", sans-serif;
	font-weight: 250;
}


.page-wrap {
	height: 100%;
	// margin-top: 70px;
	padding-bottom: 1%;
	background: whitesmoke;
	// opacity: 0;


	#banner {
		box-sizing: border-box;
		position: fixed;
		top: 0;
		left: 0;
		height: 50px;
		width: 100%;
		z-index: 999;
		background: rgba(200,30,30,0.9);
		text-align: center;
		// background: rgba(230,230,230,0.5);

		// background: url(resource/interior6.jpg) no-repeat;
		// background-size: cover;

		// border-bottom-left-radius: 5px;
		// border-bottom-right-radius: 5px;

			input {
				position: absolute;
				top: -9999px;
			} // end of input

			input:checked ~ #nav {
						pointer-events: auto;
						opacity: 1;
						height: 50px;
			} // input:checked ~ #nav

			#menuIcon {
				box-sizing: border-box;
				// display: inline-block;
				margin: 5px 10px 5px 10px;
				height: 40px;
				width: 40px;
				text-align: center;
				margin-left: auto;
				margin-right: auto;

				@include centerbox;

				background: -webkit-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
				background: -moz-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
				background: -o-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
				background: linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);

				box-shadow: 0 1px 1px rgb(70,70,70);

				border-radius: 20%;

				cursor: pointer;

					i {
						display: inline;
						font-size: 3rem;
						// color: rgba(0,0,0,0.5);
						color: rgba(255,255,255,0.9);
						text-shadow: -1px 1px 3px rgb(100,100,100);
					} // end of i
			} // end of menuIcon

			input:checked label {
				background: -webkit-linear-gradient(rgb(160,20,20), rgb(230,50,50));
				background: -moz-linear-gradient(rgb(160,20,20), rgb(230,50,50));
				background: -o-linear-gradient(rgb(160,20,20), rgb(230,50,50));
				background: linear-gradient(rgb(160,20,20), rgb(230,50,50));
			} // end of input:checked label

			#siteTitle {
				box-sizing: border-box;
				line-height: 4rem;
				padding: 5px;
				white-space: nowrap;

					p {
						font-size: 2.7rem;
						letter-spacing: 0.3rem;
						font-weight: 800;
						text-align: center;
						margin-right: 50px;
						// color: rgb(245,245,245);
						color: rgb(255,255,255);
						// text-shadow: 0 0 5px rgb(255,255,255);
					}
			} // end of siteTitle

			#nav {
				box-sizing: border-box;
				opacity: 0;
				pointer-events: none;
				position: fixed;
				top: 50px;
				// left: 60px;
				left: 0;
				width: 100%;
				height: 0;
				background: rgba(200,30,30,0.9);
				
				overflow-y: hidden;

				transition: opacity 800ms ease, width 800ms ease;
				-webkit-transition: opacity 800ms ease, width 800ms ease;

					ul {
						padding: 0;
						box-sizing: border-box;
						line-height: 4rem;
						padding: 5px;
						white-space: nowrap;

						margin-left: auto;
						margin-right: auto;

							a {
								color: whitesmoke;
								text-shadow: -1px 1px 3px rgb(180,180,180);

								box-sizing: border-box;

							}

							li {
								display: inline-block;
								font-size: 2.2rem;
								font-weight: 800;
								letter-spacing: 0.2rem;
								word-spacing: 0.2rem;

								height: 40px;
								padding: 0 5px 0 5px;

								border-radius: 10px;
								box-shadow: 0 1px 1px rgb(70,70,70);

								background: -webkit-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
								background:    -moz-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
								background:      -o-linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
								background: 		linear-gradient(rgb(255,55,55), rgb(180,30,30) 90%);
							} // end of li

							#li-2, #li-3 {
								margin-left: 5px;
							}
					} // end of ul

			} // end of nav

	} // end of banner


	#wrap0 {
		box-sizing: border-box;
		// @include centerbox;
		height: 100%;
		width: 100%;

		background: url(resource/bkgd1.jpg) no-repeat;
		background-size: cover;
		background-attachment: fixed;
			@media all and (max-width: 640px) {background-attachment: scroll;}
		background-position: 50% 50%;

			#title-wrap {
				display: inline-block;
				@include all-center;
				width: 700px;

				@media all and (max-width: 640px) {
					width: 300px;
				}

				h1 {
					box-sizing: border-box;
					font-weight: 300;
					text-align: center;
					
					color: rgba(255,255,255,0.9);
					// text-shadow: 0 0 3px rgb(255,255,255), 0 0 6px rgb(255,255,255), 0 0 10px rgb(255,255,255);

					span {

						@media all and (max-width: 640px) {
							display: block;

						} // end of media

					} // end of span 
				} // end of h1
			} // end of title-wrap
	} // end of wrap0

	#wrap1 {
		box-sizing: border-box;
		position: relative;
		display: block;
		background: brown;
		height: 450px;
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		// padding-bottom: 50px;
		// padding-top: 50px;
		@media all and (max-width: 640px) {
					height: auto;
				}

			.wrap1-inline {
				box-sizing: border-box;
				// float: left;
				display: inline-block;
				vertical-align: middle;
				// text-align: center;

				@media all and (max-width: 640px) {
					display: block;
					width: 100%;
				}
			} // end of .wrap1-inline

			#wrap1-inner-img {
				height: 450px;
				width: 35%;
				// min-width: 650px;
				background: url(resource/buburchacha.jpg) no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				@media all and (max-width: 640px) {
					display: block;
					width: 100%;
				}
			} // end of wrap1-inner-img

			#wrap1-inner-info {
				width: 30%;
				height: 100%;
				color: rgb(255,200,200);
				text-align: center;
				white-space: pre-line;
				padding: 10px;
				overflow: auto;

				@media all and (max-width: 640px) {
					display: block;
					width: 100%;
				}

				#info-wrap {
					display: block;
					margin: auto;
					
				} // end of info-wrap
			} // end of wrap1-inner-info

			#wrap1-inner-img2 {
				height: 450px;
				width: 35%;
				// min-width: 650px;
				background: url(resource/single/乾煎黃魚.jpg) no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				@media all and (max-width: 640px) {
					display: block;
					width: 100%;
				}
			} // end of wrap1-inner-img2

	} // end of wrap1

	#wrap2 {
		box-sizing: border-box;
		position: relative;
		display: block;
		// background: white;
		// min-height: 50%;
		height: auto;
		width: 100%;
		min-height: 350px;
		padding-bottom: 50px;
		padding-top: 50px;
		background: url(resource/interior5.jpg) no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		background-attachment: fixed;
			@media all and (max-width: 640px) {background-attachment: scroll;}
		text-align: center;
		// vertical-align: center;

			.wrap2-inner {
				box-sizing: border-box;
				display: inline-block;
				// width: 50%;
				margin: 25px 0 25px 0;
				vertical-align: middle;
			} // end of wrap2-inner

			#wrap2-info {
				// display: inline-block;
				position: relative;
				height: 400px;
				min-width: 300px;
				width: 30%;
				padding: 10px 5px 10px 5px;
				color: rgb(80,80,80);

				text-align: center;
				vertical-align: middle;

				background: rgba(255,255,255,0.7);

				#wrap2-info-inner {
					position: absolute;
					top: 50%;
					left: 50%;
					@include all-center;

					// height: 100%;
					width: 100%;


					a {
						text-decoration: underline;
						color: rgb(250,80,80);
					} // end of a

					i {
						color: red;
					} // end of i

					#map-description {
						font-style: italic;
					} // end of map-description
				} // end of wrap2-info-inner

			} // end of wrap2-info

			// #wrap2-info:before {
			//   content: "";
			//   display: inline-block;
			//   vertical-align: middle;
			//   height: 100px;
			// } // end of info before

			#wrap2-map {
				box-sizing: border-box;
				// position: relative;
				height: 400px;
				width: 50%;
				// width: 100%;
				// max-height: 500px;
				min-width: 300px;
				max-width: 600px;
				margin-left: auto;
				margin-right: auto;

				// #mapCap {
				// 	text-align: center;
				// 	// vertical-align: middle;
				// 	font-size: 1rem;
				// 	width: 100%;

				// 	color: rgb(150,80,80);
				// } // end of mapCap

				#map-canvas {
					// position: absolute;
					// @include centerbox;
					box-sizing: border-box;
					height: 100%;
					width: 100%;

						#mapFallback {
							color: rgba(255,255,255,0.9);
							text-decoration: none;
							text-shadow: 0 0 3px rgb(55,55,55), 0 0 4px rgb(55,55,55), 0 0 7px rgb(55,55,55);
						
							box-sizing: border-box;
							height: 100%;
							width: 100%;

							@include centerbox;
							vertical-align: middle;
							margin-left: auto;
							margin-right: auto;
							width: 100%;
							height: 100%;
							// z-index: 10;

							background: url(resource/mapfallback.jpg) no-repeat;
							background-size: cover;

								#mapFallbackText {
									box-sizing: border-box;
									display: inline-block;
									width: 100%;
									text-align: center;

									border: solid 5px rgba(40,40,40,0.5);
									border-radius: 15px;
									padding: 10px;
									background: rgba(50,50,50,0.5);
								} // end of mapFallbackText

						} // end of a/mapFallback

				} // end of map-canvas

			} // end of wrap2-map
	} // end of wrap2

	

	#wrap3 {
		box-sizing: border-box;
		position: relative;
		
		width: 100%;
		height: auto;
		// padding-bottom: 1%;
		// background: blue;
		
		#wrap3-inner {
			box-sizing: border-box;
			padding: 25px;
			height: 100%;
			width: 100%;
			text-align: center;
			background: black;
		
			// video {
			// 	box-sizing: border-box;
			// 	width: 90%;
			// 	height: auto;
			// 	margin: 25px auto 25px auto;
			// } // end of video
			#video-wrap {
				display: inline-block;
				width: 90%;
				height: 0;
				padding-bottom: 57.25%;

				iframe {
					box-sizing: border-box;
					width: 100%;
					height: 100%;

				} // end of iframe
			} // end of video-wrap

			#appledaily-link {
				box-sizing: border-box;
				display: block;
				margin-top: 10px;

				a {
					display: inline-block;
					font-size: 1.8rem;
					text-decoration: none;
					color: whitesmoke;
					text-align: center;

					span {
						color: rgb(255,100,100);
					}
				} // end of a
			} // end of appledaily-link

		} // end of wrap3-inner

	} // end of wrap3

	// .wraps {
	// 	margin-bottom: 30px;
	// } // end of wraps

	// .bottomBorder:after {
	// 		box-sizing: border-box;
	// 		content: "";
	// 		position: absolute;
	// 		bottom: -25px;
	// 		left: 5%;
	// 		height: 1px;
	// 		width: 90%;
	// 		background: rgb(200,200,200);
	// } // end of bottomBorder


	

	#footer {
		box-sizing: border-box;
		display: inline-block;
		text-align: center;

		height: 50px;
		width: 100%;

		background: rgb(200,30,30);

		img {
			height: 40px;
			margin-top: 5px;
			margin-bottom: 5px;

			fill: rgb(100,100,255);
		}
	} // end of footer


#menu-wrap {
	box-sizing: border-box;
	position: relative;
				
	width: 100%;
	height: auto;
	// margin-right: auto;
	// margin-left: auto;
	margin-top: 50px;
	padding-bottom: 100px;
	background: whitesmoke;

	// overflow: auto;
	// -webkit-overflow-scrolling: touch;
	
		#menu {
			box-sizing: border-box;
			// position: absolute;
			// top: 0;
			// left: 50%;
			// @include hori-center;

			// padding-left: auto;
			// padding-right: auto;
			// width: 100%;
			// // height: auto;
			margin: 0 auto;
			padding-top: 20px;
			text-align: center;
			// background: grey;

			@media all and (min-width: 320px) {
				width: 320px;
			}

			@media all and (min-width: 640px) {
				width: 640px;
			}

			@media all and (min-width: 960px) {
				width: 960px;
			}

			@media all and (min-width: 1280px) {
				width: 1280px;
			}

			@media all and (min-width: 1600px) {
				width: 1600px;
			}

			@media all and (min-width: 1920px) {
				width: 1920px;
			}
				
			@media all and (min-width: 2240px) {
				width: 2240px;
			}

			@media all and (min-width: 2560px) {
				width: 2560px;
			}

		
				.table-wrap {
					display: inline-block;
					// background: purple;

					table {
						box-sizing: border-box;
						float: left;

						// min-width: 300px;
						// max-width: 350px;
						height: 380px;
						width: 280px;

						margin: 10px 20px 10px 20px;
						// background: yellow;

						font-size: 1.8rem;
						color: rgb(150,100,100);

						// border: solid 1px rgb(180,180,180);
						// border-radius: 50%;

							a {
								color: rgb(150,100,100);
								text-decoration: none;
							}

							td, th {
								vertical-align: middle;
							}

							caption {
								width: 100%;
								// background: green;
							} // end of caption

							tr {
								width: 100%;
							} // end of tr

							td {
								padding: 5px;
								// color: rgb()
							} // end of td

							td:nth-child(1) {
								width: 75%;
								text-align: left;
							} // end of td-child 1

							td:nth-child(2) {
								width: 25%;
								text-align: right;
								// background: red;
							} // end of td-child 2

							th {
								// border-bottom: solid 1px rgb(180,180,180);
								height: 35px;
								padding: 5px;
								font-size: 2.5rem;
								// background: rgb(255,140,130);
								background: linear-gradient(rgb(255,180,160), rgb(255,140,130) 90%);
								// border: solid 1px rgb()
								border-radius: 25px;

								color: rgb(120,50,50);
							} // end of th
						
					} // end of table

					#combo {

							#combo-1 {
								font-size: 1.8rem;
								width: 100%;
								text-align: center;
								// background: red;
								
							} // end of span
					} // end of combo

					#lunch {
						// height: 60px;
					} // end of lunch

					#pork {
						// height: 60px;
					} // end of pork
				} // end of table-wrap
		} // end of menu

		.lb {
			display: none;
			opacity: 0;
			position: fixed;
			left: 0;
			top: 0;


			width: 100%;
			height: 100%;
			// text-align: center;
			text-decoration: none;
			background-color: rgba(0,0,0,0.7);
			-webkit-transition: all 500ms;
			transition: all 500ms;

			img {
				position: absolute;
				height: 70%;
				// width: auto;
				// max-width: 90%;

				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);

				@media all and (max-width: 640px) {
					width: 80%;
					height: auto;
				}
			}

		}

		.lb:target {
			display: block;
			opacity: 1;
			outline: none;
		}

} // end of menu-wrap

} // end of page-wrap



