@charset "UTF-8";
/*page fade*/
#pageWrap {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*page fade*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%; }

body {
  height: 100%;
  background: #fafafa; }

h1 {
  font-size: 4.8rem;
  text-transform: uppercase;
  line-height: 6.8rem;
  letter-spacing: 1.5rem;
  font-family: "sourcehansans-tc-extralight", sans-serif;
  font-weight: 250; }

h2 {
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 5rem;
  font-family: "sourcehansans-tc-extralight", sans-serif;
  font-weight: 250; }

h3 {
  font-size: 2.4rem;
  text-transform: capitalize;
  line-height: 3.5rem;
  font-family: "sourcehansans-tc-extralight", sans-serif;
  font-weight: 250; }

p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-family: "sourcehansans-tc-extralight", sans-serif;
  font-weight: 250; }

#pageWrap {
  height: 100%;
  padding-bottom: 1%; }
  #pageWrap #banner {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 999;
    background: rgba(200, 30, 30, 0.9);
    text-align: center; }
    #pageWrap #banner input {
      position: absolute;
      top: -9999px; }
    #pageWrap #banner input:checked ~ #nav {
      pointer-events: auto;
      opacity: 1;
      height: 50px; }
    #pageWrap #banner #menuIcon {
      box-sizing: border-box;
      margin: 5px 10px 5px 10px;
      height: 40px;
      width: 40px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      /* Internet Explorer 10 */
      display: -ms-flexbox;
      -ms-flex-pack: center;
      -ms-flex-align: center;
      /* Firefox */
      display: -moz-box;
      -moz-box-pack: center;
      -moz-box-align: center;
      /* Safari, Opera, and Chrome */
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      /* W3C */
      display: box;
      box-pack: center;
      box-align: center;
      background: -webkit-linear-gradient(#ff3737, #b41e1e 90%);
      background: -moz-linear-gradient(#ff3737, #b41e1e 90%);
      background: -o-linear-gradient(#ff3737, #b41e1e 90%);
      background: linear-gradient(#ff3737, #b41e1e 90%);
      box-shadow: 0 1px 1px #464646;
      border-radius: 20%; }
      #pageWrap #banner #menuIcon i {
        display: inline;
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.9);
        text-shadow: -1px 1px 3px #646464; }
    #pageWrap #banner input:checked label {
      background: -webkit-linear-gradient(#a01414, #e63232);
      background: -moz-linear-gradient(#a01414, #e63232);
      background: -o-linear-gradient(#a01414, #e63232);
      background: linear-gradient(#a01414, #e63232); }
    #pageWrap #banner #siteTitle {
      box-sizing: border-box;
      line-height: 4rem;
      padding: 5px;
      white-space: nowrap; }
      #pageWrap #banner #siteTitle p {
        font-size: 2.7rem;
        letter-spacing: 0.3rem;
        font-weight: 800;
        text-align: center;
        margin-right: 50px;
        color: white; }
    #pageWrap #banner #nav {
      box-sizing: border-box;
      opacity: 0;
      pointer-events: none;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      height: 0;
      background: rgba(200, 30, 30, 0.9);
      overflow-y: hidden;
      transition: opacity 800ms ease, width 800ms ease;
      -webkit-transition: opacity 800ms ease, width 800ms ease; }
      #pageWrap #banner #nav ul {
        padding: 0;
        box-sizing: border-box;
        line-height: 4rem;
        padding: 5px;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto; }
        #pageWrap #banner #nav ul a {
          color: whitesmoke;
          text-shadow: -1px 1px 3px #b4b4b4;
          box-sizing: border-box; }
        #pageWrap #banner #nav ul li {
          display: inline-block;
          font-size: 2.2rem;
          font-weight: 800;
          letter-spacing: 0.2rem;
          word-spacing: 0.2rem;
          height: 40px;
          padding: 0 5px 0 5px;
          border-radius: 10px;
          box-shadow: 0 1px 1px #464646;
          background: -webkit-linear-gradient(#ff3737, #b41e1e 90%);
          background: -moz-linear-gradient(#ff3737, #b41e1e 90%);
          background: -o-linear-gradient(#ff3737, #b41e1e 90%);
          background: linear-gradient(#ff3737, #b41e1e 90%); }
        #pageWrap #banner #nav ul #li-2, #pageWrap #banner #nav ul #li-3 {
          margin-left: 5px; }
  #pageWrap #wrap0 {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: url(resource/bkgd1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%; }
    @media all and (max-width: 640px) {
      #pageWrap #wrap0 {
        background-attachment: scroll; } }
    #pageWrap #wrap0 #title-wrap {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 700px; }
      @media all and (max-width: 640px) {
        #pageWrap #wrap0 #title-wrap {
          width: 300px; } }
      #pageWrap #wrap0 #title-wrap h1 {
        box-sizing: border-box;
        font-weight: 300;
        text-align: center;
        color: rgba(255, 255, 255, 0.9); }
        @media all and (max-width: 640px) {
          #pageWrap #wrap0 #title-wrap h1 span {
            display: block; } }
  #pageWrap #wrap1 {
    box-sizing: border-box;
    position: relative;
    display: block;
    background: brown;
    height: 450px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; }
    @media all and (max-width: 640px) {
      #pageWrap #wrap1 {
        height: auto; } }
    #pageWrap #wrap1 .wrap1-inline {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle; }
      @media all and (max-width: 640px) {
        #pageWrap #wrap1 .wrap1-inline {
          display: block;
          width: 100%; } }
    #pageWrap #wrap1 #wrap1-inner-img {
      height: 450px;
      width: 35%;
      background: url(resource/buburchacha.jpg) no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
      @media all and (max-width: 640px) {
        #pageWrap #wrap1 #wrap1-inner-img {
          display: block;
          width: 100%; } }
    #pageWrap #wrap1 #wrap1-inner-info {
      width: 30%;
      height: 100%;
      color: #ffc8c8;
      text-align: center;
      white-space: pre-line;
      padding: 10px;
      overflow: auto; }
      @media all and (max-width: 640px) {
        #pageWrap #wrap1 #wrap1-inner-info {
          display: block;
          width: 100%; } }
      #pageWrap #wrap1 #wrap1-inner-info #info-wrap {
        display: block;
        margin: auto; }
    #pageWrap #wrap1 #wrap1-inner-img2 {
      height: 450px;
      width: 35%;
      background: url(resource/single/乾煎黃魚.jpg) no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
      @media all and (max-width: 640px) {
        #pageWrap #wrap1 #wrap1-inner-img2 {
          display: block;
          width: 100%; } }
  #pageWrap #wrap2 {
    box-sizing: border-box;
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    min-height: 350px;
    padding-bottom: 50px;
    padding-top: 50px;
    background: url(resource/interior5.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    text-align: center; }
    @media all and (max-width: 640px) {
      #pageWrap #wrap2 {
        background-attachment: scroll; } }
    #pageWrap #wrap2 .wrap2-inner {
      box-sizing: border-box;
      display: inline-block;
      margin: 25px 0 25px 0;
      vertical-align: middle; }
    #pageWrap #wrap2 #wrap2-info {
      position: relative;
      height: 400px;
      min-width: 300px;
      width: 30%;
      padding: 10px 5px 10px 5px;
      color: #505050;
      text-align: center;
      vertical-align: middle;
      background: rgba(255, 255, 255, 0.7); }
      #pageWrap #wrap2 #wrap2-info #wrap2-info-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        width: 100%; }
        #pageWrap #wrap2 #wrap2-info #wrap2-info-inner a {
          text-decoration: underline;
          color: #fa5050; }
        #pageWrap #wrap2 #wrap2-info #wrap2-info-inner i {
          color: red; }
        #pageWrap #wrap2 #wrap2-info #wrap2-info-inner #map-description {
          font-style: italic; }
    #pageWrap #wrap2 #wrap2-map {
      box-sizing: border-box;
      height: 400px;
      width: 50%;
      min-width: 300px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto; }
      #pageWrap #wrap2 #wrap2-map #map-canvas {
        box-sizing: border-box;
        height: 100%;
        width: 100%; }
        #pageWrap #wrap2 #wrap2-map #map-canvas #mapFallback {
          color: rgba(255, 255, 255, 0.9);
          text-decoration: none;
          text-shadow: 0 0 3px #373737, 0 0 4px #373737, 0 0 7px #373737;
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          /* Internet Explorer 10 */
          display: -ms-flexbox;
          -ms-flex-pack: center;
          -ms-flex-align: center;
          /* Firefox */
          display: -moz-box;
          -moz-box-pack: center;
          -moz-box-align: center;
          /* Safari, Opera, and Chrome */
          display: -webkit-box;
          -webkit-box-pack: center;
          -webkit-box-align: center;
          /* W3C */
          display: box;
          box-pack: center;
          box-align: center;
          vertical-align: middle;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          height: 100%;
          background: url(resource/mapfallback.jpg) no-repeat;
          background-size: cover; }
          #pageWrap #wrap2 #wrap2-map #map-canvas #mapFallback #mapFallbackText {
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            text-align: center;
            border: solid 5px rgba(40, 40, 40, 0.5);
            border-radius: 15px;
            padding: 10px;
            background: rgba(50, 50, 50, 0.5); }
  #pageWrap #wrap3 {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto; }
    #pageWrap #wrap3 #wrap3-inner {
      box-sizing: border-box;
      padding: 25px;
      height: 100%;
      width: 100%;
      text-align: center;
      background: black; }
      #pageWrap #wrap3 #wrap3-inner #video-wrap {
        display: inline-block;
        width: 90%;
        height: 0;
        padding-bottom: 57.25%; }
        #pageWrap #wrap3 #wrap3-inner #video-wrap iframe {
          box-sizing: border-box;
          width: 100%;
          height: 100%; }
      #pageWrap #wrap3 #wrap3-inner #appledaily-link {
        box-sizing: border-box;
        display: block;
        margin-top: 10px; }
        #pageWrap #wrap3 #wrap3-inner #appledaily-link a {
          display: inline-block;
          font-size: 1.8rem;
          text-decoration: none;
          color: whitesmoke;
          text-align: center; }
          #pageWrap #wrap3 #wrap3-inner #appledaily-link a span {
            color: #ff6464; }
  #pageWrap #footer {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 100%;
    background: #c81e1e; }
    #pageWrap #footer img {
      height: 40px;
      margin-top: 5px;
      margin-bottom: 5px; }

#menu-wrap {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background: blue; }
  #menu-wrap #menu {
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    background: grey; }
    @media all and (min-width: 320px) {
      #menu-wrap #menu {
        width: 320px; } }
    @media all and (min-width: 640px) {
      #menu-wrap #menu {
        width: 640px; } }
    @media all and (min-width: 960px) {
      #menu-wrap #menu {
        width: 960px; } }
    @media all and (min-width: 1280px) {
      #menu-wrap #menu {
        width: 1280px; } }
    @media all and (min-width: 1600px) {
      #menu-wrap #menu {
        width: 1600px; } }
    @media all and (min-width: 1920px) {
      #menu-wrap #menu {
        width: 1920px; } }
    @media all and (min-width: 2240px) {
      #menu-wrap #menu {
        width: 2240px; } }
    @media all and (min-width: 2560px) {
      #menu-wrap #menu {
        width: 2560px; } }
    #menu-wrap #menu .table-wrap {
      display: inline-block; }
      #menu-wrap #menu .table-wrap table {
        box-sizing: border-box;
        float: left;
        height: 380px;
        width: 280px;
        margin: 10px 20px 10px 20px;
        font-size: 1.8rem;
        color: #966464; }
        #menu-wrap #menu .table-wrap table td, #menu-wrap #menu .table-wrap table th {
          vertical-align: middle; }
        #menu-wrap #menu .table-wrap table caption {
          width: 100%; }
        #menu-wrap #menu .table-wrap table tr {
          width: 100%; }
        #menu-wrap #menu .table-wrap table td {
          padding: 5px; }
        #menu-wrap #menu .table-wrap table td:nth-child(1) {
          width: 75%;
          text-align: left; }
        #menu-wrap #menu .table-wrap table td:nth-child(2) {
          width: 25%;
          text-align: right; }
        #menu-wrap #menu .table-wrap table th {
          height: 35px;
          padding: 5px;
          font-size: 2.5rem;
          background: linear-gradient(#ffb4a0, #ff8c82 90%);
          border-radius: 25px;
          color: #783232; }
      #menu-wrap #menu .table-wrap #combo #combo-1 {
        font-size: 1.8rem;
        width: 100%;
        text-align: center; }

/*# sourceMappingURL=style.css.map */
