@charset "UTF-8";
/*page fade*/
.page-wrap {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*page fade*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  background: whitesmoke;
  font-family: "sourcehansans-tc-extralight", sans-serif; }

body {
  height: 100%;
  background: #fafafa;
  font-family: "sourcehansans-tc-extralight", sans-serif; }

h1 {
  font-size: 4.8rem;
  text-transform: uppercase;
  line-height: 6.8rem;
  letter-spacing: 1.5rem;
  font-family: "sourcehansans-tc-extralight", sans-serif;
  font-weight: 250; }

h2 {
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 5rem;
  font-family: "sourcehansans-tc-extralight", sans-serif;
  font-weight: 250; }

h3 {
  font-size: 2.4rem;
  text-transform: capitalize;
  line-height: 3.5rem;
  font-family: "sourcehansans-tc-extralight", sans-serif;
  font-weight: 250; }

p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-family: "sourcehansans-tc-extralight", sans-serif;
  font-weight: 800;
  letter-spacing: 0.5rem; }

a {
  font-family: "sourcehansans-tc-extralight", sans-serif; }

.page-wrap {
  height: 100%;
  padding-bottom: 1%;
  background: whitesmoke; }
  .page-wrap #banner {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 999;
    background: rgba(200, 30, 30, 0.9);
    text-align: center; }
    .page-wrap #banner input {
      position: absolute;
      top: -9999px; }
    .page-wrap #banner input:checked ~ #nav {
      pointer-events: auto;
      opacity: 1;
      height: 50px; }
      @media all and (max-width: 360px) {
        .page-wrap #banner input:checked ~ #nav {
          height: 400px; } }
    .page-wrap #banner #menuIcon {
      box-sizing: border-box;
      margin: 5px 10px 5px 10px;
      height: 40px;
      width: 40px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      /* Internet Explorer 10 */
      display: -ms-flexbox;
      -ms-flex-pack: center;
      -ms-flex-align: center;
      /* Firefox */
      display: -moz-box;
      -moz-box-pack: center;
      -moz-box-align: center;
      /* Safari, Opera, and Chrome */
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      /* W3C */
      display: box;
      box-pack: center;
      box-align: center;
      background: -webkit-linear-gradient(#ff3737, #b41e1e 90%);
      background: -moz-linear-gradient(#ff3737, #b41e1e 90%);
      background: -o-linear-gradient(#ff3737, #b41e1e 90%);
      background: linear-gradient(#ff3737, #b41e1e 90%);
      box-shadow: 0 1px 1px #464646;
      border-radius: 15px;
      cursor: pointer; }
      @media all and (min-width: 641px) {
        .page-wrap #banner #menuIcon {
          width: 100px; } }
      .page-wrap #banner #menuIcon i {
        display: inline;
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.9);
        text-shadow: -1px 1px 3px #646464; }
      .page-wrap #banner #menuIcon p {
        color: rgba(255, 255, 255, 0.9);
        font-size: 2.5rem;
        font-weight: 800; }
        @media all and (max-width: 700px) {
          .page-wrap #banner #menuIcon p {
            display: none; } }
    .page-wrap #banner #menuIcon:hover {
      background: -webkit-linear-gradient(#b41e1e, #ff3737 90%);
      background: -moz-linear-gradient(#b41e1e, #ff3737 90%);
      background: -o-linear-gradient(#b41e1e, #ff3737 90%);
      background: linear-gradient(#b41e1e, #ff3737 90%);
      box-shadow: 0 -1px 1px #646464; }
      .page-wrap #banner #menuIcon:hover i {
        text-shadow: 0 0 3px white, 0 0 7px white; }
    .page-wrap #banner input:checked label {
      background: -webkit-linear-gradient(#a01414, #e63232);
      background: -moz-linear-gradient(#a01414, #e63232);
      background: -o-linear-gradient(#a01414, #e63232);
      background: linear-gradient(#a01414, #e63232); }
    .page-wrap #banner #siteTitle {
      box-sizing: border-box;
      line-height: 4rem;
      padding: 5px;
      white-space: nowrap; }
      .page-wrap #banner #siteTitle p {
        font-size: 2.7rem;
        letter-spacing: 0.3rem;
        font-weight: 800;
        text-align: center;
        margin-right: 50px;
        color: white; }
    .page-wrap #banner #nav {
      box-sizing: border-box;
      opacity: 0;
      pointer-events: none;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      height: 0;
      background: rgba(200, 30, 30, 0.9);
      overflow-y: hidden;
      transition: opacity 800ms ease, width 800ms ease;
      -webkit-transition: opacity 800ms ease, width 800ms ease; }
      .page-wrap #banner #nav ul {
        padding: 0;
        box-sizing: border-box;
        line-height: 4rem;
        padding: 5px;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto; }
        @media all and (max-width: 360px) {
          .page-wrap #banner #nav ul {
            white-space: pre-line; } }
        .page-wrap #banner #nav ul a {
          color: whitesmoke;
          text-shadow: -1px 1px 3px #b4b4b4;
          box-sizing: border-box; }
        .page-wrap #banner #nav ul li {
          display: inline-block;
          font-size: 2.2rem;
          font-weight: 800;
          letter-spacing: 0.2rem;
          word-spacing: 0.2rem;
          height: 40px;
          padding: 0 5px 0 5px;
          border-radius: 10px;
          box-shadow: 0 1px 1px #464646;
          background: -webkit-linear-gradient(#ff3737, #b41e1e 90%);
          background: -moz-linear-gradient(#ff3737, #b41e1e 90%);
          background: -o-linear-gradient(#ff3737, #b41e1e 90%);
          background: linear-gradient(#ff3737, #b41e1e 90%); }
          @media all and (max-width: 360px) {
            .page-wrap #banner #nav ul li {
              display: block;
              width: 100%;
              white-space: pre-line;
              border-radius: 0; } }
        .page-wrap #banner #nav ul #li-2, .page-wrap #banner #nav ul #li-3 {
          margin-left: 5px; }
        .page-wrap #banner #nav ul #li-0 {
          margin-right: 5px; }
  .page-wrap #wrap0 {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: url(resource/bkgd1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%; }
    @media all and (max-width: 700px) {
      .page-wrap #wrap0 {
        background-attachment: scroll; } }
    .page-wrap #wrap0 #title-wrap {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 700px; }
      @media all and (max-width: 700px) {
        .page-wrap #wrap0 #title-wrap {
          width: 300px; } }
      .page-wrap #wrap0 #title-wrap h1 {
        box-sizing: border-box;
        font-weight: 300;
        text-align: center;
        color: rgba(255, 255, 255, 0.9); }
        @media all and (max-width: 700px) {
          .page-wrap #wrap0 #title-wrap h1 span {
            display: block; } }
  .page-wrap #wrap1 {
    box-sizing: border-box;
    position: relative;
    display: block;
    background: brown;
    height: 450px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap; }
    @media all and (max-width: 700px) {
      .page-wrap #wrap1 {
        height: auto; } }
    .page-wrap #wrap1 .wrap1-inline {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: middle; }
      @media all and (max-width: 700px) {
        .page-wrap #wrap1 .wrap1-inline {
          display: block;
          width: 100%; } }
    .page-wrap #wrap1 #wrap1-inner-img {
      height: 450px;
      width: 35%;
      background: url(resource/buburchacha.jpg) no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
      @media all and (max-width: 700px) {
        .page-wrap #wrap1 #wrap1-inner-img {
          display: block;
          width: 100%; } }
    .page-wrap #wrap1 #wrap1-inner-info {
      width: 30%;
      height: 100%;
      color: #e6e6e6;
      text-align: center;
      white-space: pre-line;
      padding: 10px;
      overflow: auto; }
      @media all and (max-width: 700px) {
        .page-wrap #wrap1 #wrap1-inner-info {
          display: block;
          width: 100%; } }
      .page-wrap #wrap1 #wrap1-inner-info #info-wrap {
        display: block;
        margin: auto; }
        @media all and (min-width: 900px) {
          .page-wrap #wrap1 #wrap1-inner-info #info-wrap {
            padding-left: 25px;
            padding-right: 25px; } }
        .page-wrap #wrap1 #wrap1-inner-info #info-wrap a {
          box-sizing: border-box;
          text-decoration: none;
          color: brown; }
          .page-wrap #wrap1 #wrap1-inner-info #info-wrap a span {
            box-sizing: border-box;
            font-size: 2rem;
            letter-spacing: 0.3rem;
            background: whitesmoke;
            background: linear-gradient(#ffffe1, #c8c8c8);
            border-radius: 15px;
            padding: 5px 20px 5px 20px; }
        .page-wrap #wrap1 #wrap1-inner-info #info-wrap a:hover {
          color: #323232; }
          .page-wrap #wrap1 #wrap1-inner-info #info-wrap a:hover span {
            background: linear-gradient(#c8c8c8, white); }
    .page-wrap #wrap1 #wrap1-inner-img2 {
      height: 450px;
      width: 35%;
      background: url(resource/single/乾煎黃魚.jpg) no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
      @media all and (max-width: 700px) {
        .page-wrap #wrap1 #wrap1-inner-img2 {
          display: block;
          width: 100%; } }
  .page-wrap #wrap2 {
    box-sizing: border-box;
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    min-height: 350px;
    padding-bottom: 50px;
    padding-top: 50px;
    background: url(resource/interior5.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    text-align: center; }
    @media all and (max-width: 700px) {
      .page-wrap #wrap2 {
        background-attachment: scroll;
        padding: 0; } }
    .page-wrap #wrap2 .wrap2-inner-class {
      box-sizing: border-box;
      display: inline-block;
      margin: 25px 0 25px 0;
      vertical-align: middle; }
      @media all and (max-width: 700px) {
        .page-wrap #wrap2 .wrap2-inner-class {
          margin: 0;
          display: block;
          width: 100%; } }
    .page-wrap #wrap2 #wrap2-info-wrap {
      position: relative;
      height: 400px;
      min-width: 300px;
      width: 30%;
      padding: 10px 35px 10px 35px;
      color: #505050;
      text-align: center;
      vertical-align: middle;
      background: rgba(255, 255, 255, 0.7); }
      @media all and (max-width: 700px) {
        .page-wrap #wrap2 #wrap2-info-wrap {
          background: rgba(255, 255, 255, 0.9);
          width: 100%; } }
      .page-wrap #wrap2 #wrap2-info-wrap #wrap2-info {
        position: absolute;
        top: 50%;
        left: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        width: 100%; }
        .page-wrap #wrap2 #wrap2-info-wrap #wrap2-info a {
          text-decoration: none;
          color: #fa5050; }
        .page-wrap #wrap2 #wrap2-info-wrap #wrap2-info i {
          color: red; }
        .page-wrap #wrap2 #wrap2-info-wrap #wrap2-info a:hover {
          color: #c8aa1e; }
        .page-wrap #wrap2 #wrap2-info-wrap #wrap2-info img {
          width: 30px;
          height: 30px;
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          -o-transition: all 300ms;
          transition: all 100ms; }
        .page-wrap #wrap2 #wrap2-info-wrap #wrap2-info img:hover {
          width: 40px;
          height: 40px; }
        .page-wrap #wrap2 #wrap2-info-wrap #wrap2-info #map-description {
          font-style: italic; }
    .page-wrap #wrap2 #wrap2-map {
      box-sizing: border-box;
      height: 400px;
      width: 50%;
      min-width: 300px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto; }
      @media all and (max-width: 700px) {
        .page-wrap #wrap2 #wrap2-map {
          display: block;
          width: 100%;
          max-width: 100%; } }
      .page-wrap #wrap2 #wrap2-map #map-canvas {
        box-sizing: border-box;
        height: 100%;
        width: 100%; }
        .page-wrap #wrap2 #wrap2-map #map-canvas #mapFallback {
          color: rgba(255, 255, 255, 0.9);
          text-decoration: none;
          text-shadow: 0 0 3px #373737, 0 0 4px #373737, 0 0 7px #373737;
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          /* Internet Explorer 10 */
          display: -ms-flexbox;
          -ms-flex-pack: center;
          -ms-flex-align: center;
          /* Firefox */
          display: -moz-box;
          -moz-box-pack: center;
          -moz-box-align: center;
          /* Safari, Opera, and Chrome */
          display: -webkit-box;
          -webkit-box-pack: center;
          -webkit-box-align: center;
          /* W3C */
          display: box;
          box-pack: center;
          box-align: center;
          vertical-align: middle;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          height: 100%;
          background: url(resource/mapfallback.jpg) no-repeat;
          background-size: cover; }
          .page-wrap #wrap2 #wrap2-map #map-canvas #mapFallback #mapFallbackText {
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            text-align: center;
            border: solid 5px rgba(40, 40, 40, 0.5);
            border-radius: 15px;
            padding: 10px;
            background: rgba(50, 50, 50, 0.5); }
  .page-wrap #wrap3 {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto; }
    .page-wrap #wrap3 #wrap3-inner {
      box-sizing: border-box;
      padding: 25px;
      height: 100%;
      width: 100%;
      text-align: center;
      background: black; }
      .page-wrap #wrap3 #wrap3-inner #video-wrap {
        display: inline-block;
        width: 48vw;
        height: 30vw; }
        @media all and (max-width: 700px) {
          .page-wrap #wrap3 #wrap3-inner #video-wrap {
            width: 80vw;
            height: 50vw; } }
        .page-wrap #wrap3 #wrap3-inner #video-wrap iframe {
          box-sizing: border-box;
          width: 100%;
          height: 100%; }
      .page-wrap #wrap3 #wrap3-inner #appledaily-link {
        box-sizing: border-box;
        display: block;
        margin-top: 10px; }
        .page-wrap #wrap3 #wrap3-inner #appledaily-link a {
          display: inline-block;
          font-size: 1.8rem;
          text-decoration: none;
          color: whitesmoke;
          text-align: center; }
          .page-wrap #wrap3 #wrap3-inner #appledaily-link a span {
            color: #ff6464; }
  .page-wrap #footer {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 100%;
    background: #c81e1e; }
    .page-wrap #footer #foot-wrap {
      width: 150px;
      height: 50px;
      margin-left: auto;
      margin-right: auto; }
      .page-wrap #footer #foot-wrap img {
        box-sizing: border-box;
        float: left;
        height: 40px;
        width: 40px;
        margin: 5px; }
      .page-wrap #footer #foot-wrap .fb-like {
        box-sizing: border-box;
        position: relative;
        float: left;
        width: 87px;
        height: 50px; }
        .page-wrap #footer #foot-wrap .fb-like iframe {
          padding-top: 15px;
          padding-bottom: 15px; }
  .page-wrap #menu-wrap {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-bottom: 100px;
    background: url(resource/menu-bkgd.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%; }
    @media all and (max-width: 700px) {
      .page-wrap #menu-wrap {
        background-attachment: scroll; } }
    .page-wrap #menu-wrap #menu {
      box-sizing: border-box;
      margin: 0 auto;
      padding-top: 20px;
      text-align: center; }
      @media all and (min-width: 320px) {
        .page-wrap #menu-wrap #menu {
          width: 320px; } }
      @media all and (min-width: 700px) {
        .page-wrap #menu-wrap #menu {
          width: 700px; } }
      @media all and (min-width: 960px) {
        .page-wrap #menu-wrap #menu {
          width: 960px; } }
      @media all and (min-width: 1280px) {
        .page-wrap #menu-wrap #menu {
          width: 1280px; } }
      @media all and (min-width: 1600px) {
        .page-wrap #menu-wrap #menu {
          width: 1600px; } }
      @media all and (min-width: 1920px) {
        .page-wrap #menu-wrap #menu {
          width: 1920px; } }
      @media all and (min-width: 2240px) {
        .page-wrap #menu-wrap #menu {
          width: 2240px; } }
      @media all and (min-width: 2560px) {
        .page-wrap #menu-wrap #menu {
          width: 2560px; } }
      .page-wrap #menu-wrap #menu .table-wrap {
        display: inline-block; }
        .page-wrap #menu-wrap #menu .table-wrap table {
          box-sizing: border-box;
          float: left;
          border-collapse: separate;
          height: 380px;
          width: 280px;
          margin: 10px 20px 10px 20px;
          font-size: 1.8rem;
          font-family: "sourcehansans-tc-extralight", sans-serif;
          font-weight: 600;
          color: #966464; }
          .page-wrap #menu-wrap #menu .table-wrap table a {
            color: #966464;
            text-decoration: none; }
            .page-wrap #menu-wrap #menu .table-wrap table a i {
              color: #e11e1e; }
          .page-wrap #menu-wrap #menu .table-wrap table td, .page-wrap #menu-wrap #menu .table-wrap table th {
            vertical-align: middle; }
          .page-wrap #menu-wrap #menu .table-wrap table caption {
            width: 100%; }
          .page-wrap #menu-wrap #menu .table-wrap table tr {
            width: 100%; }
          .page-wrap #menu-wrap #menu .table-wrap table tr:hover {
            background: rgba(255, 235, 190, 0.3); }
            .page-wrap #menu-wrap #menu .table-wrap table tr:hover td, .page-wrap #menu-wrap #menu .table-wrap table tr:hover a {
              color: #ff5050; }
              .page-wrap #menu-wrap #menu .table-wrap table tr:hover td i, .page-wrap #menu-wrap #menu .table-wrap table tr:hover a i {
                color: #ff8282;
                text-shadow: 0 0 3px white, 0 0 5px white; }
          .page-wrap #menu-wrap #menu .table-wrap table .menu-category:hover {
            background: transparent; }
          .page-wrap #menu-wrap #menu .table-wrap table #combo-1-tr:hover {
            background: transparent; }
            .page-wrap #menu-wrap #menu .table-wrap table #combo-1-tr:hover span {
              color: #966464; }
          .page-wrap #menu-wrap #menu .table-wrap table td {
            padding: 5px; }
          .page-wrap #menu-wrap #menu .table-wrap table td:nth-child(1) {
            width: 75%;
            text-align: left; }
          .page-wrap #menu-wrap #menu .table-wrap table td:nth-child(2) {
            width: 25%;
            text-align: right; }
          .page-wrap #menu-wrap #menu .table-wrap table th {
            height: 35px;
            padding: 5px;
            font-size: 2.5rem;
            background: transparent;
            border: solid 2px #967864;
            border-radius: 25px;
            color: #783232; }
        .page-wrap #menu-wrap #menu .table-wrap #combo #combo-1 {
          font-size: 1.8rem;
          width: 100%;
          text-align: center;
          font-style: italic;
          font-weight: 300; }
    .page-wrap #menu-wrap .lb {
      display: block;
      opacity: 0;
      position: fixed;
      z-index: -2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
      .page-wrap #menu-wrap .lb img {
        position: absolute;
        height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%); }
        @media all and (max-width: 700px) {
          .page-wrap #menu-wrap .lb img {
            width: 80%;
            height: auto; } }
    .page-wrap #menu-wrap .lb:target {
      z-index: 10;
      opacity: 1;
      outline: none; }

/*# sourceMappingURL=style.css.map */
